<form action="#" method="post" class="create-animation-form">
    <div class="headline">CREATE A NEW ANIMATION</div>
    <div class="content">
        <label for="animation-name">ANIMATION NAME</label>
        <input type="text" id="animation-name" name="animation-name" placeholder="YOUR NEW ANIMATION">
    </div>
    <div class="button-container">
        <button class="btn btn-green" type="submit">SAVE</button>
        <button class="btn btn-close">CANCEL</button>
    </div>
    <a class="close-overlay"><i class="fa fa-close"></i></a>
</form>
